body {

	background-color: blue;
	
}
h1 {
	color: black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h2{
	color: yellow;
}
h3{
  color:yellow;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h4{
  color: yellow;
}

